		body{
			margin: 0;
			padding: 0;
			min-width: 100vw;
			min-height: 100vh;
		}
		html::-webkit-scrollbar {
		    display: none;
		}
		#shangdaohang{
			position: fixed;
			z-index: 200;
			top: 0;
			width: 100%;
			height: 5%;
			background-color: #0069d9;
		}
		.big_box{
			position: absolute;
			display: flex;
			top: 5%;
			width: 100%;
		}
		#xiaoyuanbeijing{
			position: absolute;
			width: 100%;
			height: 70px;
			background-image: url(./深圳技术大学.png);
			background-size: cover;
		}
		.left_daohang{
			position: fixed;
			width: 10%;
			height: 100vh;
			min-width: 100px;/* 设置最小宽度防止文字被压缩 */
			background-color: #ffffff;
			overflow: auto;
			
		}
		.left_daohang::-webkit-scrollbar {
		    display: none;
		}
		
		#konge{
			vertical-align: middle;
			text-align: center;
		}
		
		.item1{
			width: 100%;
			height: 40px;
			line-height: 80px;
			display: flex;
			justify-content: space-between;
			cursor: pointer;
		}
		.item1:hover{
			background-color: #e8e8e8;
		}
		.item1_text{
			line-height: 40px;
			width: 200px;
			font-size: 10px;
			overflow: hidden;/*超出隐藏*/
			text-overflow: ellipsis;/*省略号*/
			white-space: nowrap;/*设置文本不换行*/
		}
		.item1_img{
			width: 150px;
			height: 39px;
			line-height: 40px;
			position: relative;
			display: inline-block;
		}
		.you{width: 30px;
			height: 30px;
			float: right;
			background-size: 100% 100%;
		}
		.item1_item2{
			cursor: pointer;
			display: none;
		}
		.item2{
			margin:20px auto;
		}
		.item2:hover{
			background-color: #e6e6e6;
		}
		.item2_text{
			font-size: 10px;
			margin-left: 25%;
		}
		
		.box_kuan{
			position: fixed;
			left: 10%;
			width: 0.5%;
			min-height: 100vh;
			background-color: #e7e7e7;
		}
		/*右边框*/
		.content{
			position: fixed;
			left: 10.5%;
			width: 89.5%;
			min-height: 100vh;
			background-color: #f7f7f7;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		}
		
		.logo{
			position: relative;
			z-index: 10;
			height: 50px;
			display: flex;
		}
		#sztulogo{
			width: 40px;
			height: 50px;
			position: relative;
			display: inline-block;
		}
		#sztu{
			width: 23px;
			height: 25px;
			position: absolute;
			top: 8px; 
			right: 5px;
		}
		#xiaoyuan{
			line-height: 40px;
			font-size: 15px;
			color: white;
			overflow: hidden;/*超出隐藏*/
			text-overflow: ellipsis;/*省略号*/
			white-space: nowrap;/*设置文本不换行*/
		}
		#touxiang{
			position: relative;
			z-index: 10;
			height: 50px;
		}
		.circle {
		  border-radius: 50%;
		  width: 40px;
		  height: 40px;
		  line-height: 40px;
		  color: #ffffff;
		  background-color: #b6b6b6;
		}
		.biaozhi{
			width: 20px; 
			height: 20px;
			position: absolute;
			top: 10px; 
			right: 5px;
		}
		
		/*各个页面*/
		/*搜索*/
		.kuang{
			float: left;
			position: relative;
			top: 10px;
			left: 3px;
		}
		#sousuo{
			position: absolute;
			top: 150px;
			left: 15%;
			width: 80%;
			height: 70px;
			background-color: #fff;
			border-radius: 5px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		}
		#xingge{
			display: none;
			float: left;
			position: relative;
			height: 100%;
			width: 100%;
		}
		#guanjianci{
			display: block;
			float: left;
			position: relative;
			height: 100%;
			width: 100%;
		}
		#sousuokuang{
			position: relative;
			top: -10px;
			z-index: 100;
			background-color: #fff;
			text-align: center;
			font-size: 20px;
		}
		#sousuokuang label{
			line-height: 60px;
		}
		#sousuokuang label input{
			width: 500px;
			height: 40px;
		}
		#plat{
			position: relative;
			right: 20px;
			display: none;
		}
		#sousuoanniu{
			float: left;
			position: relative;
			top: 12%;
			left: 10%;
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
		}
		#move{
			float: left;
			position: relative;
			left: 3%;
			height: 100%;
			width: 80%;
		}
		button[type="sousuo"] {
			padding: 10px 20px;
			background-color: #aaffff;
			color: #fff;
			border: none;
			border-radius: 5px;
			font-size: 16px;
			cursor: pointer;
		}
		
		button[type="sousuo"]:hover {
			background-color: #94dede;
		}
		button[type="zhuanhuan"] {
			position: relative;
			top: 30%;
			left: 1%;
			padding: 5px 4px 1px 4px;
			background-color: #007bff;
			color: #fff;
			border: none;
			border-radius: 5px;
			font-size: 16px;
			cursor: pointer;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		}
		
		button[type="zhuanhuan"]:hover {
			background-color: #0069d9;
		}
		
		/*爱心动画*/
		#xin{
			position: relative;
			top: -25px;
			right: 25px;
		    display: block;
		    width:100px;
		    height: 100px;
		    background-image: url(爱心动画.png);
		    background-repeat: no-repeat;
		    background-size: 2900%;   //爱心图片的像素大小为2900*100
		}
		#xin{
		   animation-duration: 0.5s;
		   animation-timing-function: steps(28);
		   animation-delay: 0s;
		   animation-iteration-count: 1;
		   animation-direction: normal;
		   animation-fill-mode: forwards;
		   animation-play-state: running;
		   /* animation-name: move ; */
		}
		@keyframes mymoveOK{
		    from{background-position: left;}
		    to{background-position: right;}
		}
		@keyframes mymoveNOT{
			from{background-position: left;}
			to{background-position: left;}
		}
		/*推荐用户*/
		.qianzhui{
			float: left;
			height: 40px;
			font-size: 18px;
		}
		.neirong{
			float: left;
			height: 40px;
			font-size: 18px;
		}
		#tuijianxingxi
		{
			display: none;
			position: absolute;
			top: 80px;
			left: 25%;
			width: 60%;
			height: 600px;
			z-index: 110;
			background-color: #ffffff;
			border-radius: 5px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		}
		#yonghugerenxingxi{
			position: relative;
			top: 50px;
			left: 10%;
			width: 80%;
			height: 450px;
			border: 1px solid black;
		}
		#shoucangfanhui{
			position: relative;
			top: 50px;
			left: 10%;
			width: 80%;
			height: 50px;
		}
		#shoucang{
			float: left;
			width: 50px;
			height: 50px;
		}
		#fanhui2{
			position: relative;
			top: 10px;
			float: right;
			padding: 5px 10px;
			background-color: #007bff;
			color: #fff;
			border: none;
			border-radius: 5px;
			font-size: 16px;
			cursor: pointer;
		}
		#fanhui2:hover{
			background-color: #0069d9;
		}
		#yonghushenqing{
			z-index: 40;
			position: relative;
			top: 10px;
			left: 38%;
			width: 200px;
			height:30px;
			border-radius: 15px;
			background-color: #007bff;
			color: #fff;
			border: none;
		}
		#yonghushenqing:hover{
			background-color: #0069d9;
		}
		#yonghutouxiang{
			position: relative;
			top: 50px;
			left: 50px;
			width: 150px;
			height: 200px;
			float: left;
			border: 1px solid black;
		}
		#yonghuxingxi{
			position: relative;
			top: 20px;
			left: 90px;
			width: 450px;
			height: 290px;
			float: left;
			border: 1px solid black;
		}
		#yonghuname{
			position: relative;
			top: 15px;
			left: 10px;
			width: 150px;
			height: 50px;
			border: 1px solid black;
		}
		#yonghuj_username{
			position: relative;
			top: 25px;
			left: 10px;
			width: 200px;
			height: 40px;
			border: 1px solid black;
		}
		#yonghusex{
			position: relative;
			top: 35px;
			left: 10px;
			width: 100px;
			height: 40px;
			border: 1px solid black;
		}
		#yonghuage{
			position: relative;
			top: -7px;
			left: 110px;
			width: 100px;
			height: 40px;
			border: 1px solid black;
		}
		#yonghumajor{
			position: relative;
			top: 3px;
			left: 10px;
			width: 200px;
			height: 40px;
			border: 1px solid black;
		}
		#yonghunumber{
			position: relative;
			top: 13px;
			left: 10px;
			width: 200px;
			height: 40px;
			border: 1px solid black;
		}
		#yonghucity{
			position: relative;
			top: -220px;
			left: 260px;
			width: 150px;
			height: 40px;
			border: 1px solid black;
		}
		#yonghuheight{
			position: relative;
			top: -200px;
			left: 260px;
			width: 150px;
			height: 40px;
			border: 1px solid black;
		}
		#yonghuweight{
			position: relative;
			top: -180px;
			left: 260px;
			width: 150px;
			height: 40px;
			border: 1px solid black;
		}
		#yonghupersonality{
			position: relative;
			top: -160px;
			left: 260px;
			width: 150px;
			height: 40px;
			border: 1px solid black;
		}
		#yonghuhobbies{
			position: relative;
			top: 40px;
			left: 30px;
			width: 320px;
			height: 100px;
			float: left;
			border: 1px solid black;
		}
		#yonghuintroduction{
			position: relative;
			top: 40px;
			right: 30px;
			width: 320px;
			height: 100px;
			float: right;
			border: 1px solid black;
		}
		#beijing{
			display: none;
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 105;
			background: #000000;
			filter:alpha(opacity=30);
			-moz-opacity:0.3;
			opacity:0.3;
		}
		#biaoti{
			position: absolute;
			top: 35px;
			left: 15%;
			width: 80%;
			height: 80px;
			background-color: #fff;
			border-radius: 5px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		}
		#sousuoyonghu{
			position: absolute;
			top: 250px;
			left: 15%;
			width: 80%;
			min-height: 200px;
			background-color: #fff;
			border-radius: 5px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		}
		#sousuobiaoti{
			position: relative;
			width: 100%;
			height: 60px;
		}
		#sousuotimu{
			position: relative;
			float: left;
			width: 18%;
			height: 100%;
		}
		#sousuozi{
			position: relative;
			top: 10px;
			left: 20px;
			font-size: 150%;
			float: left;
		}
		#sousuoliebiao{
			position: relative;
			left: 5%;
			width: 90%;
			min-height: 50px;
			border: 1px solid black;
		}
		.sousuoxihuan{
			position: relative;
			left: 2%;
			width: 96%;
			height: 50px;
			border: 1px solid black;
		}
		.sousuotouxiang{
			position: relative;
			float: left;
			width: 45px;
			height: 45px;
		}
		.sousuoxingming{
			position: relative;
			float: left;
			top: 5px;
			width: 100px;
			height: 30px;
			font-size: 25px;
		}
		.sousuoxingbie{
			position: relative;
			float: left;
			top: 12px;
			width: 80px;
			height:30px;
		}
		.sousuochengshi{
			position: relative;
			float: left;  
			top: 12px;
			width: 80px;
			height:30px;
		}
		.sousuoshenqinghaoyou{
			z-index: 20;
			position: relative;
			float: right;
			top: 10px;
			width: 100px;
			height:30px;
			border-radius: 15px;
			background-color: #007bff;
			color: #fff;
			border: none;
		}
		.sousuoshenqinghaoyou:hover{
			background-color: #0069d9;
		}
		#tuijian{
			position: absolute;
			top: 250px;
			left: 15%;
			width: 80%;
		}
		#shuaxin{
			position: relative;
			width: 100%;
			height: 60px;
			/*background-color: #fff;
			border-radius: 5px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);*/
		}
		#tuijianxihuan{
			position: relative;
			float: left;
			width: 18%;
			height: 100%;
		}
		#tuijianbiaoti{
			position: relative;
			font-size: 150%;
			float: left;
		}
		#xihuanbiaoti{
			position: relative;
			font-size: 150%;
			float: right;
		}
		#xiahuaxian{
			position: relative;
			top: 37px;
			left: 0%;
			height: 7px;
			width: 42%;
			background-color: black;
			border-radius: 5px;
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
		}
		.shuaxinfanhui{
			position: relative;
			top: 25%;
			right: 2%;
			padding: 5px 4px 5px 4px;
			background-color: #007bff;
			color: #fff;
			border: none;
			border-radius: 5px;
			font-size: 16px;
			cursor: pointer;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
			float: right;
		}
		.shuaxinfanhui:hover{
			background-color: #0069d9;
		}
		#tuijianyonghu,#jiazai,#xiaiyonghu,#shibai{
			position: relative;
			width: 100%;
			height: 400px;
			text-align: center;
		}
		#xiaiyonghu{
			background-color: #fff;
			border-radius: 5px;
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
		}
		#tuijian1{
			position: relative;
			top: 15px;
			width: 100%;
			height: 170px;
		}
		#tuijian2{
			position: relative;
			top: 35px;
			width: 100%;
			height: 170px;
		}
		.tuijian{
			position: relative;
			width: 28%;
			height: 170px;
			float: left;
			background-color: #fff;
			border-radius: 15px;
			box-shadow: 0 0 10px rgba(168, 168, 168, 0.2);
		}
		.yonghuxinxi{
			position: relative;
			top: -30px;
			width: 100%;
			height: 130px;
		}
		.yonghutouxiang{
			position: relative;
			top: 20px;
			left: 40px;
			width: 45px;
			height: 45px;
		}
		.yonghuxingming{
			position: relative;
			top: -32px;
			left: 150px;
			width: 100px;
			height: 30px;
			font-size: 25px;
		}
		.yonghuxingbie{
			position: relative;
			top: -20px;
			left: 120px;
			width: 80px;
			height:30px;
		}
		.yonghuchengshi{
			position: relative;
			top: -49px;
			left: 210px;
			width: 80px;
			height:30px;
		}
		.yonghuoxingge{
			position: relative;
			top: -45px;
			left: 50px;
			width: 250px;
			height:25px;
			overflow: hidden; /*自动隐藏文字*/
			text-overflow: ellipsis;/*文字隐藏后添加省略号*/
			white-space: nowrap;/*强制不换行*/
			border: 1px solid black;
		}
		.shenqinghaoyou{
			z-index: 40;
			position: relative;
			top: 130px;
			width: 200px;
			height:30px;
			border-radius: 15px;
			background-color: #007bff;
			color: #fff;
			border: none;
		}
		.shenqinghaoyou:hover{
			background-color: #0069d9;
		}
		#yonghu1{
			left: 4%;
		}
		#yonghu2{
			left: 8%;
		}
		#yonghu3{
			left: 12%;
		}
		#yonghu4{
			left: 4%;
		}
		#yonghu5{
			left: 8%;
		}
		#yonghu6{
			left: 12%;
		}		
		biaoti